img{
    height: auto;
    max-width: 100%;
}

.full-img{
    @include img-responsive;
    width: 100%;
}

figure{
    margin: 0;
}

iframe{
    width: 100%;
    display: none;
    @media screen and (min-width: $screen-sm-min) {
        display: block; 
    }
    &.gmaps{
        max-height: 50vh;
    }
}
