::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder{
    color: white;
}


.contactform{
    > div{
        position: relative;
        overflow: hidden;
    }
    input, textarea{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 3rem;
        margin-bottom: 1rem;
        background: transparent;
        border-bottom: 1px solid white;
        padding-left: 0;
    }
    label{
        transition: all 0.25s ease-out;
        position: absolute;
        top: 2rem;
        left: .3rem;
        width: 100%;
        color: white;
    }
    input,textarea{
        &:focus{
            // .pane--prim1 &{ border: 5px solid $prim1d; }
            // .pane--prim2 &{ border: 5px solid $prim2d; }
            // .pane--prim3 &{ border: 5px solid $prim3d; }
            // .pane--prim4 &{ border: 5px solid $prim4d; }
            outline: none;
        }
        &:valid,
        &:focus{
            color: white;
            &+label{
                font-size: 1.5rem;
                left: .3rem;
                color: #aaa;
                top: 0;
            }
            
        }
    }

}
fieldset{
    border: none;
    padding: 0;
}
input, select, textarea{
    width: 100%;
    border: none;
    padding: 0.3em 0.5em;
    border-radius: 0;
    box-shadow: none;}

textarea{
    min-height: 300px;

}
input[type="submit"]{
    background: transparent;
    margin: 0;
    padding: 0;
    text-align: left;

}



.uniform__potty {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
