// Completely remove from the flow and screen readers. *
.is-hidden {
	display: none !important;
	visibility: hidden !important;
}

.underline{
	text-decoration: underline;
}
.uppercase{
	text-transform: uppercase;
}

// Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
}

// Floats */
.is-right {
	float: right;
}

.is-left {
	float: left;
}

// Text-Align */
// conflict with sallygrid
// .align-right {
// 	text-align: right;
// }

// .align-center {
// 	text-align: center;
// }

// .align-left {
// 	text-align: left;
// }

// Display Classes */
.hide-xsmall {
	@media all and (max-width: $screen-xs) {
		display: none !important;
	}
}

.hide-small {
	@media all and (max-width: $screen-sm) {
		display: none;
	}
}

.hide-med {
	@media all and (min-width: $screen-sm-min) and (max-width: $screen-lg) {
		display: none;
	}
}

.hide-large {
	@media all and (min-width: $screen-lg-min) {
		display: none;
	}
}

// Media Object
.media {margin:10px;}
.media, .media-body {overflow:hidden; zoom:1;}
.media .media-img {float:left; margin-right: 10px;}
.media-img{display:block;}
.media .media-imgExt{float:right; margin-left: 10px;}


.flex {
	@media screen and (min-width: $screen-sm) {
		display: flex;
	}
}
