@mixin is-highlighted {
    background-color: $prim5;
}

// Basic Link Styling

a {
    text-decoration: none;
    color: $link-color;
    // font-weight: $link-weight;
    font-weight: inherit;
    &:hover,
    &:active,
    &:focus{
        text-decoration: underline;
    }
    &:active,
    &:focus{
        outline:none;
    }

    #contact & {
        @include is-highlighted;
    }
}


.post p a {
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
    box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $prim4;
    transition: all 0.25s ease;

    &:hover,
    &:active,
    &:focus{
        box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $prim1;
    }
} 

.is-underlined {
    color: $black;
    display: inline !important;
    text-decoration: none;
    transition: all 0.25s ease;
    padding-bottom: 2px;
    text-decoration: none;

    > * { display: inline !important; }

    &:hover,
    &:active,
    &:focus{
        text-decoration: none;
        text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
        box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 $prim1;
    }
}
