// Site Wide Styles, eg home, body

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-family: $font-main;
    // force a vertical scrollbar to prevent a jumpy page
    overflow-y: scroll;
    overflow-x: hidden;

    font-size: $font-size;
}

body {
    background: $bg-color;
    @include font-size($font-size-body);
    line-height: $line-height + em;
    overflow-x: hidden;
    // fixes letterspacing on the iphone
    @media only screen and (min-device-width: 320px)
        and (max-device-width: 568px)
        and (-webkit-device-pixel-ratio: 2)
        and (device-aspect-ratio: 40/71) {
        letter-spacing: -0.08em;
    }
    @media screen and (min-width: $screen-xs-min) {
        &:after {
            content: 'medium';
            display: none;
        }
    }
}

.wrapper {
    position: relative;
    margin: 0 auto;
}

.container{
    @media (max-width: $screen-sm){
        padding-left: 0;
        padding-right: 0;
    }
}

.browserupgrade{
    text-align: center;
    background-color: red;
    display: block;
    color: white;
    a{
        color: white;
        text-decoration: underline;
        font-weight: bold;
    }
}

.main, .header, .header--small, footer, .browserupgrade{
    max-width: $maxWidth;
    margin: 0 auto;
}

.row .row{
    margin-left: 0;
    margin-right: 0;
}

.main{
    figure{
        max-width: 320px;
    }
}


