/* Typography */

h1,.alpha,
h2,.beta,
h3,.gamma,
h4,.delta,
h5,.epsilon,
h6,.zeta{
    font-family: $font-heading;
    color: $head-color;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    margin: 1em auto;

    .pane--prim1 &,
    .pane--prim2 &,
    .pane--prim3 &,
    .pane--prim4 &,
    .pane--prim1d &{
        color: $prim0;
    }

    .pane--prim4 &,
    .pane--prim4d &{
        color: $head-color;
    }
}


h1,.alpha{
    @include font-size($font-size-h1);
line-height: 1.2;}
h2,.beta{
    @include font-size($font-size-h2);
    line-height: $font-size-h2 + 0.5rem;;
}
h3,.gamma{
    @include font-size($font-size-h3);}
h4,.delta{
    @include font-size($font-size-h4);}
h5,.epsilon{
    @include font-size($font-size-h5);}
h6,.zeta{
    @include font-size($font-size-h5);}

article{
    @media screen and (min-width: $screen-sm-min){
        h1, h2, h3, h4{
            // text-align: center;
        }
    }
}


// DEFAULT TEXT


.dateline {
    @include dateline;
    position: relative;

    .pane--prim1 & {
        color: $prim1d;
    }

    &__arrow {
        position: absolute;
        top: 2px;
        margin-left: 5px;
    }
}


.kicker {
    @include kicker;
    &--linkpost {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: .5rem;
        margin-right: .5rem;
        a {
            color: $prim1;
        }

        + .content {
            display: inline-block;
        }
    }
}


hr{
    border: none;
    height: 4px;
    margin: 2rem 0;
    background: white;
    .pane--prim0 &{ background: $prim1;  }
}

// standardize any monospaced elements
pre, code, kbd, samp { font-family: $font-mono; }
pre, code{
    @include font-size($font-size-body*0.8);
}
code {
    color: $prim4;
    padding: .1rem .5rem;
    font-weight: inherit;
    hyphens: none;
    
}
pre{
    background-color: $prim4;
    padding: 2rem;
    overflow: auto;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    code{
        background-color: transparent;
        color: white;
    }
}

// Font Helper Classes
%font-main{
font-family: $font-main;}
%font-heading{
font-family: $font-heading;}


// Paragraphs
p{
    @include font-size($font-size-body);
    font-family: $font-main;
    color: $text-color;
    letter-spacing: 0.01em;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    hyphens: auto;
}

strong{
    font-family: $font-main-bold;
}

// standardize any monospaced elements
pre, code, kbd, samp { font-family: $font-mono; }

// Font Helper Classes
%font-main{
font-family: $font-main;}
%font-heading{
font-family: $font-heading;}


// footnotes
.footnote,
.footnotes{
    font-size: 1.5rem;
    color: $prim4;
}

.footnote{
    a{
        color: $prim4;
    }
}
.footnotes{
    ol{
        padding-left: 2rem;
    }
}
.footnotedivider{}
