// AVATAR
#flori{
    #neck{
        display: none;
    }
    > g{
        translateY: -30px;
    }
}

svg{
    polygon{
        animation: polygon 5s infinite; 
    }
}

@keyframe polygon{
    from{
        transform: scale(0.1);
    }
    to{
        transform: scale(1);
    }
}
