.icon{
    fill: $prim1;
    &--medium{
        width: 6rem;
        height: 6rem;
    }
    &--xsmall{
        width: 1.6rem;
        height: 1.6rem;
    }
    &--small{
        width: 2rem;
        height: 2rem;
    }
    &--light{
        fill: $prim0;
    }
    &--twitter {
        fill: $twitter-color;
    }
    &--rss {
        fill: $rss-color;
    }
}
