// navigation style
@mixin nav-text() {
    font-family: $font-nav;
    @include font-size(1.8);
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

// Kicker
@mixin kicker() {
    @include font-size(1.8);
    font-family: $font-kicker;
    color: $kicker-color;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

// standard introduction text
@mixin dateline() {
    @include font-size(3);
    color: $text-color;
    line-height: 1.1;
    letter-spacing: -0.1px;
}

@mixin paragraph-intro() {
    @include font-size(3);
    color: $black;
    line-height: 1.1;
    letter-spacing: -0.1px;
}
