@mixin center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@mixin round {
    border-radius: 50%;
}

$coreWidth: 70px;
$cAtom: $prim1;

.atom-wrapper {
    position: relative;
}

.atom {
    @include center;
    width: 500px;
    height: 500px;
    display: none;
    perspective: 1500;
    &__nucleus {
        @include center;
        @include round;
        background: $cAtom;
        height: $coreWidth;
        width: $coreWidth;
    }
    &__electron {
        @include center;
        transform-origin: 50% 50%;
        //animation: 3s infinite linear electron-0;
        &:nth-child(2) {
            animation: 3s infinite linear electron-135;
            .atom__electron-inner {
                animation: 2s linear infinite forwards turnAround;
            }
        }
        &:nth-child(3) {
            animation: 6s infinite linear electron-45;
            .atom__electron-inner {
                animation: 4s linear infinite forwards turnAround;
            }
        }
        &:nth-child(4) {
            animation: 12s infinite linear electron-0;
            .atom__electron-inner {
                animation: 2s linear infinite forwards turnAround;
            }
        }
        &:nth-child(5) {
            animation: 3s infinite linear electron-0;
            .atom__electron-inner {
                animation: 7s linear infinite forwards turnAround;
            }
        }
        &-inner {
            @include round;
            @include center;
            width: $coreWidth * 3;
            height: $coreWidth * 3;
            border: 4px solid $cAtom;
            &::before {
                @include round;
                content: '';
                display: block;
                position: relative;
                background: $cAtom;
                left: 0;
                top: 50%;
                transform: translatey(-50%) translatex(-50%) rotateX(-60deg);
                width: $coreWidth / 6;
                height: $coreWidth / 3;
                box-shadow: 0 0 15px $cAtom;
            }
        }
    }
    @media screen and (min-width: $screen-sm) {
        display: block;
    }
}

$degrees: 0 45 80 90 135 180 225 270;
@each $i in $degrees {
    @keyframes electron-#{$i} {
        0% {
            transform: rotateX(75deg) rotateY(#{$i}deg) rotateZ(0deg);
        }
        100% {
            transform: rotateX(75deg) rotateY(#{$i}deg) rotateZ(0deg);
        }
    }
}

@keyframes turnAround {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
