$blogAccent: $prim1;

.blog{
    &__header{
        padding-bottom: 4rem;
        position: relative;

        a {
            @include is-highlighted;
        }
    }

    &__posts {

        .dateline {
            margin-top: 0;
            font-weight: 400;
            color: $prim1;
        }

        &-header {
            margin-top: 8rem;
            padding-bottom: 8rem;
            border-bottom: 1px solid lightgrey;

            .blog__posts--with-image & {
                border-bottom: none;
            }
        }

        &-meta {
            @media screen and (min-width: $screen-sm) {
                margin-top: .93rem;
                margin-bottom: 0;
                text-align: right;
                padding-right: 2rem;

                .kicker {
                    @include font-size(2.4);
                }
            }

            &--linkpost {
                margin-top: 2px;
                .kicker {
                    @include font-size(1.8);
                }

            }
        }

        .subheadline,
        .subheadline p{
            @include dateline;
            @include font-size(2.2);
            margin-top: 1rem;
            margin-bottom: 1rem;
            color: $black;
        }

        h3.dateline {
            margin-bottom: .5rem;
        }

        .content {
            margin-bottom: 0;

            &__bigtext,
            &__bigtext p {
                @include dateline;
                @include font-size(2.2);
                margin-top: 1rem;
                margin-bottom: 1rem;
                color: $black;
            }

            &__smalltext,
            &__smalltext p {
                @include font-size(1.4);
                margin-top: 1rem;
                margin-bottom: 1rem;
                color: $black;
            }

            p {
                margin-top: 0;
                margin-bottom: .5rem;
            }
        }

        .directlink {
            @include font-size(1.2);
            display: inline-block;
            color: $lightgrey;
            a {
                color: $lightgrey;
                text-decoration: underline;
            }
        }

        &--with-image{
            h3.dateline, p, a, .content__bigtext p {
                color: white;
            }
        }
    }
}

.blogpost{
    &__header{
        $vmargin: 6rem;

        margin: 0;
        border: none;


        &.has--bgimage{
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: $vmargin;

            > div {
                min-height: 40vh;
            }
            header {
                align-self: flex-start;
                @media screen and (min-width: $screen-sm) {
                    align-self: flex-end;
                }
            }

            // bright headline
            .dateline {
                color: $white;
            }

        }


        header {
            padding-bottom: $vmargin/2;
        }

        .dateline {
            color: $prim4;
        }

        &.has--bgimage-large {
            min-height: 40rem;
            max-height: 80vh;
            height: 80vh;

        }


        &-copyright {
            position: absolute;
            bottom: -2.5rem;
            left: 0;
            right: 0;
            margin: auto;
            display: inline-block;
            text-align: center;
            font-size: 1rem;
            color: $grey;

            a {
                color: $lightgrey;
                text-shadow: none;
                background-image: none;
            }
        }

    }
    figure {
        margin: 0;
        img {
            max-width: 100%;
        }
    }

    a {
        img {
            max-width: 100%;
        }
    }
}

.post {
    h2, h3, h4{
        @include paragraph-intro;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    p {
        margin-bottom: 3.6rem;
    }

    figure {
        img {
            width: 100%;
        }
    }

    figcaption {
        text-align: center;
        font-size: 1.2rem;
        font-style: italic;
        // color: $lightgrey;
        margin: 5px 10px 1rem;
    }

    &__author {
        margin: 2rem 0;
        padding: 2rem 0;
        border: 2px solid $prim4;
    }

    &__authorimage {
        img {
            padding: 1rem 2rem;
        }
    }

    &__authordescription {
        align-self: center;
        p {
            font-size: 1.5rem;
            line-height: 1.5;
            padding: 1rem 2rem;
        }
    }

    blockquote {
        position: relative;
        font-style: italic;
        border-left: 5px solid $blockquote-secondary;
        margin: 3rem 0;
        padding-left: 2rem;


        p {
            @include font-size(1.7);
            &::before {
                content: ">";
                color: $blockquote-secondary;
                font-size: 1em;
                margin-top: -2rem;
                line-height: 0.1em;
                margin-right: 0.25em;
            }
        }

    }

    ul {
        &:not(.tags) {
            @extend p;
        }
        @include font-size(1.7);
        padding-left: 0;
        list-style: none;

        li {
            padding-left: 1rem;
            text-indent: -.7rem;

            &::before {
                content: "▪ ";
                color: $blockquote-secondary; /* or whatever color you prefer */
                margin-right: .5rem;
            }
        }
    }
}

.reading{
    background: transparent;
    display: inline-block;
    span{
        vertical-align: middle;
    }
    svg{
        width: 2.5rem;
        height: 2.5rem;
        fill: currentColor;
        // fill: $prim0;
        vertical-align: middle;
    }
}

.pagination{
    $paginationColor: $prim1;

    min-height: 5rem;
    // text-align: center;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            display: inline-block;

            a {
                @include kicker;
                display: inline-block;
                color: $paginationColor;
                border: 1px solid $paginationColor;
                padding: .5rem 1rem;
                transition: all .25s ease;

                &:hover,
                &.active {
                    background: $paginationColor;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .next,
    .prev {
    }

}

.footnotes {
    margin: 4rem 0;
    a {
        text-shadow: none;
        background-image: none;
    }
}
