// Button Module
.btn{
    // box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4), 0 5px 5px rgba(0, 0, 0, .2);
    background: $prim1;
    border: 1px solid $prim1d;
    color: $btn-text;
    display: inline-block;
    font-family: $font-button;
    font-size: 1.4rem;
    line-height: 1;
    padding: .5rem 1rem;
    margin-right: 0.5em;
    position: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.25s ease;
    width: 100%;
    text-align: center;
    @media screen and (min-width: $screen-sm){
        width: auto;
    }
    svg{
        fill: currentColor;
        vertical-align: middle;
    }
    //Button States
    &:hover,
    &:active,
    &:visited{
        text-decoration: none;
    }
    &:hover{
        color: $btn-text-hov;
        // transform: scale(1.2);
        background: $prim1d;
    }
    .pane--prim0 &{
        background: $prim1;
        border: 1px solid $prim1d;
        &:hover{
            background: $prim1d;
        }
    }
    .pane--prim1 &{
        background: $prim1;
        border: 1px solid $prim1d;
        &:hover{
            background: $prim1d;
        }
    }
    .pane--prim2 &{
        background: $prim2;
        border: 1px solid $prim2d;
        &:hover{
            background: $prim2d;
        }
    }
    .pane--prim3 &{
        background: $prim3;
        border: 1px solid $prim3d;
        &:hover{
            background: $prim3d;
        }
    }
    .pane--prim4 &{
        background: $prim4;
        border: 1px solid $prim4d;
        &:hover{
            background: $prim4d;
        }
    }


    // Button Sizes
    &.tiny   { @include font-size(1.6); }
    &.small  { @include font-size(1.6); }
    &.medium { @include font-size(1.6); }
    &.big    { @include font-size(2.3); }

    > i{
        @include font-size(1.5);
    }

    // Button Backgrounds
    // &.dark      { background: $btn-primary; }
    // &.secondary  { background: $btn-second;  }
    // &.success    { background: $btn-success; }
    // &.alert      { background: $btn-alert;   }

    // button forms
    // &.radius    { @extend %is-round; }
    &--pill     { border-radius: 1000px; }

    // depends if in bg--dark container, shows bright button
    .bg--dark &{
        border: 1px solid $btn-border-bright;
        color: $btn-text-bright;
        &:hover{
            color: $btn-text-bright-hov;
            background: $btn-prim-bright-hov;
        }
    }
}


// Button Group
.btn-group{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    &.responsebuttons{
        margin: 2rem 0 0;
    }
    > li{
        float: left;
        margin: 0 0 0 -1px;
        &:first-child{
            margin-left: 0;
        }
    }
    &.radius{
        >li{
            &:first-child a{
                border-bottom-left-radius: $border-radius +px;
                border-top-left-radius: $border-radius +px; }

            &:last-child a{
                border-bottom-right-radius: $border-radius +px;
                border-top-right-radius: $border-radius +px; }
        }
    }
    &.is--centered{
        margin: 0 auto;
        display: block;
    }
}

.btn--plain {
    text-decoration: none;
    display: inline-block;
    margin: 0 1rem;
    background-image: none !important;
}
