$shelfcolor: transparent;
$barForeground: rgba(160, 160, 160, .27);
$barForeground2: rgba(160, 160, 160, .2);
$barInner: rgba(5, 62, 123, .6);
$barInner2: rgba(47, 83, 122, .7);
$markerColor1: $black;
$markerColor2: rgba(133, 133, 133, .15);
$skewdeg: -45deg;

/* Bar wrapper - hides the inner bar when it goes below the bar, required */
.bar-wrapper {
    overflow: hidden;
}

/* Bar container - this guy is a real parent of a bar's parts - they all are positioned relative to him */
.bar-container {
    position: relative;
    margin-top: 2.5em; /* should be at least equal to the top offset of background casing */
    /* because back casing is positioned higher than actual bar */
    width: 12.5em; /* required, we have to define the width of a bar */
}

/* right bottom patch - make sure inner bar's right bottom corner is "cut" when it slides down */
.bar-container:before {
    content: "";
    position: absolute;
    z-index: 3; /* to be above .bar-inner */

    bottom: 0;
    right: 0;

    /* Use bottom border to shape triangle */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 2.5em 2.5em;
    border-color: transparent transparent $shelfcolor;
}

/* Back panel */
.bar-background {
    width: 10em;
    height: 100%;
    position: absolute;
    top: -2.5em;
    left: 2.5em;
    z-index: 1; /* just for reference */
}

.bar-background:before,
.bar-background:after {
    content: "";
    position: absolute;
}

/* Bottom panel */
.bar-background:before {
    bottom: -2.5em;
    right: 1.25em;
    width: 10em;
    height: 2.5em;
    transform: skew($skewdeg);
}

/* Left back panel */
.bar-background:after {
    top: 1.25em;
    right: 10em;
    width: 2.5em;
    height: 100%;

    /* skew only the Y-axis */
    transform: skew(0deg, $skewdeg);
}
/* Front panel */
.bar-foreground {
    z-index: 3;
    /* be above .bar-background and .bar-inner */
}
.bar-foreground,
.bar-inner {
    position: absolute;
    width: 10em;
    height: 100%;
    top: 0;
    left: 0;
}

.bar-foreground:before,
.bar-foreground:after,
.bar-inner:before,
.bar-inner:after {
    content: "";
    position: absolute;
}

/* Right front panel */
.bar-foreground:before,
.bar-inner:before {
    top: -1.25em;
    right: -2.5em;
    width: 2.5em;
    height: 100%;
    background-color: $barForeground;

    transform: skew(0deg, $skewdeg);
}

/* Top front panel */
.bar-foreground:after,
.bar-inner:after {
    top: -2.5em;
    right: -1.25em;
    width: 100%;
    height: 2.5em;
    background-color: $barForeground2;

    transform: skew($skewdeg);
}

.bar-inner {
    z-index: 2; /* to be above .bar-background */
    top: auto; /* reset position top */
    background-color: $barInner;
    height: 0;
    bottom: -2.5em;
    color: transparent; /* hide text values */

    transition: height 1s linear, bottom 1s linear;
}

/* Right panel */
.bar-inner:before {
    background-color: $barInner;
}

/* Top panel */
.bar-inner:after {
    background-color: $barInner;
}

/** Graph Holder container **/
.graph-container {
    position: relative; /* required Y axis stuff, Graph Holder's left and bottom sides to be positions properly */
    display: inline-block; /* display: table may also work.. */
    padding: 0; /* let the bars position themselves */
    list-style: none; /* we don't want to see any default <ul> markers */

    margin-left: 12rem;
}
/* Graph Holder bottom side */
.graph-container:before {
    position: absolute;
    content: "";

    bottom: 0;
    left: -1.25em; /* skew pushes it left, so we move it a bit in opposite direction */

    width: 100%; /* make sure it is as wide as the whole graph */

    height: 2.5em;
    background-color: $shelfcolor;
    // box-shadow: 0 10px 10px rgba(30, 30, 30, .5);

    /* Make it look as if in perspective */
    transform: skew($skewdeg);
}
/* Bars and X-axis labels holder */
.graph-container > li {
    float: left; /* Make sure bars are aligned one next to another*/
    position: relative; /* Make sure X-axis labels are positioned relatively to this element */
}
/* A small hack to make Graph Holder's background side be wide enough
...because our bottom side is skewed and pushed to the right, we have to compensate it in the graph holder's background */
.graph-container > li:nth-last-child(2) {
    margin-right: 2.5em;
}
/* X-axis labels */
.graph-container > li > span {
    position: absolute;
    left: 0;
    bottom: -2em;
    width: 80%; /* play with this one if you change perspective depth */
    text-align: center;

    font-size: 1.5em;
    color: black;
}
/* Markers container */
.graph-container > li:last-child {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Y-axis Markers list */
.graph-marker-container > li {
    position: absolute;
    left: -2.5em;
    bottom: 0;
    width: 100%;
    margin-bottom: 2.5em;
    list-style: none;
    &:nth-child(1){ bottom: 20%;  }
    &:nth-child(2){ bottom: 40%;  }
    &:nth-child(3){ bottom: 60%;  }
    &:nth-child(4){ bottom: 80%;  }
    &:nth-child(5){ bottom: 100%;  }
}

/* Y-axis lines general styles */
.graph-marker-container > li:before,
.graph-marker-container > li:after {
    content: "";
    position: absolute;
    border-style: none none dotted;
    border-color: $markerColor1;
    border-width: 0 0 .15em;
    background: $markerColor2;
}

/* Y-axis Side line */
.graph-marker-container > li:before {
    width: 3.55em;
    height: 0;
    bottom: -1.22em;
    left: -.55em;
    z-index: 2; /* be above .graph-container:after */
    transform: rotate($skewdeg);
}

/* Y-axis Background line */
.graph-marker-container li:after {
    width: 100%;
    bottom: 0;
    left: 2.5em;
}

/* Y-axis text Label */
.graph-marker-container span {
    color: black;
    position: absolute;

    top: 1em;
    left: -10rem; /* just to push it away from the graph.. */
    width: 12rem; /* give it absolute value of left offset */

    font-size: 1.5em;
}
/****************
 * SIZES        *
 ****************/
/* Size of the Graph */
.graph-container,
.bar-container {
    font-size: 8px;
}
/* Height of Bars */
.bar-container,
.graph-container:after,
.graph-container > li:last-child {
    height: 40em;
}

/****************
 * SPACING      *
 ****************/
/* spacing between bars */
.graph-container > li .bar-container {
    margin-right: 1.5em;
}
/* spacing before first bar */
.graph-container > li:first-child {
    margin-left: 1.5em;
}
/* spacing after last bar */
.graph-container > li:nth-last-child(2) .bar-container {
    margin-right: 1.5em;
}

/****************
 *    Colors    *
 ****************/
/* Bar's Back side */
.bar-background {
    background-color: rgba(160, 160, 160, .1);
}
/* Bar's Bottom side */
.bar-background:before {
    background-color: rgba(160, 160, 160, .2);
}
/* Bar's Left Back side */
.bar-background:after {
    background-color: rgba(160, 160, 160, .05);
}
/* Bar's Front side */
.bar-foreground {
    background-color: rgba(160, 160, 160, .1);
}
/* Bar's inner block */
.bar-inner,
.bar-inner:before { background-color: $barInner; }
.bar-inner:after { background-color: $barInner2; }

/*************************************
 *   Bars Fill                       *
 * Just an example of filling 3 bars *
 *************************************/
.graph-container > li:nth-child(1) .bar-inner { height: 25%; bottom: 0; }
.graph-container > li:nth-child(2) .bar-inner { height: 50%; bottom: 0; }
.graph-container > li:nth-child(3) .bar-inner { height: 75%; bottom: 0; }
.graph-container > li:nth-child(4) .bar-inner { height: 25%; bottom: 0; }
.graph-container > li:nth-child(5) .bar-inner { height: 50%; bottom: 0; }
.graph-container > li:nth-child(6) .bar-inner { height: 75%; bottom: 0; }


/******************************************************************************
 **                                                                          **
 ** RESPONSIVENESS                                                           **
 **                                                                          **
 ** Just as an example to show you the way how to resize the graph           **
 **                                                                          **
 ******************************************************************************/

@media screen and (max-width: 1125px) {
    .graph-container{ font-size: 0.7em; }
}
@media screen and (max-width: 1050px) {
    .graph-container{ font-size: 0.6em; }
}
@media screen and (max-width: 900px) {
    .button-label{ margin: 0 10px 0 0; }
    .button-label:before { content:"\A"; white-space: pre;  }
    .main { padding: 20px 20px 40px; }
}
@media screen and (max-width: 765px) {
    .graph-container { font-size: 0.5em; }
}
@media screen and (max-width: 720px) {
    .graph-container { font-size: 0.45em; }
}
@media screen and (max-width: 630px) {
    .graph-container { font-size: 0.32em; }
}
@media screen and (max-width: 360px) {
    .graph-container { font-size: 0.22em; }
    .button-label{ margin: 0 5px 0 0;}
}
