// THE GRID
.g {
    // nested grids
    .g {
    }

    // with gutters
    &--gutter {
       margin: 0 -1em 0 -1em;
        > .gi { margin: 0 -1em 0 1em;  }
    }

}

// Gridtype
@mixin float() {
    display: inline-block;
}

// THE GRID ITEM
.gi {
    display: inline-block;

    // DEFAULT
    &--full { @include float; width: 100%; }
    &--1of2 { @include float; width: 50%; }
    &--1of3 { @include float; width: 33%; }
    &--2of3 { @include float; width: 66.6667%; }
    &--1of4 { @include float; width: 25%; }
    &--3of4 { @include float; width: 75%; }

    // MOBILE
    @media(min-width:$screen-xs-min) {
        &--xs-full { @include float; width: 100%; }
        &--xs-1of2 { @include float; width: 50%; }
        &--xs-1of3 { @include float; width: 33%; }
        &--xs-2of3 { @include float; width: 66.6667%; }
        &--xs-1of4 { @include float; width: 25%; }
        &--xs-3of4 { @include float; width: 75%; }
    }
    // SMALL
    @media(min-width:$screen-sm-min) {
        &--sm-full { @include float; width: 100%; }
        &--sm-1of2 { @include float; width: 50%; }
        &--sm-1of3 { @include float; width: 33%; }
        &--sm-2of3 { @include float; width: 66.6667%; }
        &--sm-1of4 { @include float; width: 25%; }
        &--sm-3of4 { @include float; width: 75%; }
    }

    // MEDIUM
    @media(min-width: $screen-md-min ) {
        &--md-full { @include float; width: 100%; }
        &--md-1of2 { @include float; width: 50%; }
        &--md-1of3 { @include float; width: 33%; }
        &--md-2of3 { @include float; width: 66.6667%; }
        &--md-1of4 { @include float; width: 25%; }
        &--md-3of4 { @include float; width: 75%; }
    }

    // LARGE
    @media(min-width: $screen-lg-min ) {
        &--lg-full { @include float; width: 100%; }
        &--lg-1of2 { @include float; width: 50%; }
        &--lg-1of3 { @include float; width: 33%; }
        &--lg-2of3 { @include float; width: 66.6667%; }
        &--lg-1of4 { @include float; width: 25%; }
        &--md-3of4 { @include float; width: 75%; }
    }
}

.wrap{
    min-height: 100%;
    max-width: 1280px;
    margin: 0 2rem 0;
    padding: 4rem 1rem;
    width: 92%;
    @media screen and (min-width: $screen-sm) {
        margin: 0 auto;
        padding: 0 3rem;
        width: 100%;
    }
    &--postpreview{
        @extend .wrap;
        min-height: 10vh;
    }
}
