// THE GRID
.g {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;

    @media screen and (min-width: $screen-sm) {
        flex-direction: row;
    }

    // nested grids
    .g {
        flex: 1 1 auto;
        width: auto;
    }

    // with gutters
    &--gutter {
       margin: 0 -1em 0 -1em;
        > .gi { margin: 0 -1em 0 1em;  }
    }

    // THE FOLLOWING GRID MODS SHOULD BETTER APPLIED WITH CSS, INSTEAD OF CLASSES
    // see: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    &--wrap{ flex-wrap: wrap; }

    // flex direction column?
    &--col { flex-direction: column; }

    // flex direction row?
    &--row { flex-direction: row; }

    // Alignment per row */
    &--top     { align-items: flex-start;}
    &--bottom  { align-items: flex-end; }
    &--vcenter  { align-items: center; }

    // justify content
    &--left     { justify-content: flex-start; }
    &--right    { justify-content: flex-end; }
    &--center { justify-content: center; }

    &--reversed{
        @media screen and (min-width: $screen-sm) { 
            > div {
                &:first-child {
                    order: 2;
                }
                &:last-child {
                    order: 1;
                }
            }
        }
    }

    @media(min-width:$screen-xs-min) {
        &--xs-col{ flex-direction: column; }
    }
    @media(min-width:$screen-sm-min) {
        &--sm-col{ flex-direction: column; }
    }
    @media(min-width:$screen-md-min) {
        &--md-col{ flex-direction: column; }
    }
    @media(min-width:$screen-lg-min) {
        &--lg-col{ flex-direction: column; }
    }
}

// THE GRID ITEM
.gi {
    position: relative;
    flex: 1 1 auto; margin: 0;

    // Alignment per cell */
    &--top    { align-self: flex-start; }
    &--bottom { align-self: flex-end;}
    &--center { align-self: center;}

    // DEFAULT
    &--full { flex: 0 0  100%; }
    &--1of2 { flex: 0 0  50%;}
    &--1of3 { flex: 0 0  33%;}
    &--2of3 { flex: 0 0  66.6667%; }
    &--1of4 { flex: 0 0  25%; }
    &--3of4 { flex: 0 0  75%; }

    // MOBILE
    @media(min-width:$screen-xs-min) {
        &--xs-full {flex: 0 0  100%; }
        &--xs-1of2 {flex: 0 0  50%;}
        &--xs-1of3 {flex: 0 0  33%;}
        &--xs-2of3 { flex: 0 0  66.6667%; }
        &--xs-1of4 { flex: 0 0  25%; }
        &--xs-3of4 { flex: 0 0  75%; }
    }

    // SMALL
    @media(min-width:$screen-sm-min) {
        &--sm-full {flex: 0 0  100%; }
        &--sm-1of2 {flex: 0 0  50%;}
        &--sm-1of3 {flex: 0 0  33%;}
        &--sm-2of3 { flex: 0 0  66.6667%; }
        &--sm-1of4 { flex: 0 0  25%; }
        &--sm-3of4 { flex: 0 0  75%; }
    }

    // MEDIUM
    @media(min-width: $screen-md-min ) {
        &--md-full {flex: 0 0  100%; }
        &--md-1of2 {flex: 0 0  50%;}
        &--md-1of3 {flex: 0 0  33%;}
        &--md-2of3 { flex: 0 0  66.6667%; }
        &--md-1of4 { flex: 0 0  25%; }
        &--md-3of4 { flex: 0 0  75%; }
    }

    // LARGE
    @media(min-width: $screen-lg-min ) {
        &--lg-full {flex: 0 0  100%; }
        &--lg-1of2 {flex: 0 0  50%;}
        &--lg-1of3 {flex: 0 0  33%;}
        &--lg-2of3 { flex: 0 0  66.6667%; }
        &--lg-1of4 { flex: 0 0  25%; }
        &--lg-3of4 { flex: 0 0  75%; }
    }

    // MOBILE with max-width
    @media(max-width:$screen-sm-min) {
        &--full,
        &--1of2,
        &--1of3,
        &--2of3,
        &--1of4,
        &--3of4,
        &--xs-full,
        &--xs-1of2,
        &--xs-1of3,
        &--xs-2of3,
        &--xs-1of4,
        &--xs-3of4,
        &--sm-full,
        &--sm-1of2,
        &--sm-1of3,
        &--sm-2of3,
        &--sm-1of4,
        &--sm-3of4 { 
            flex-basis: auto; 
        }
    }
}

.wrap{
    min-height: 100%;
    max-width: 1280px;
    margin: 0 2rem 0;
    padding: 4rem 1rem;
    width: 92%;
    @media screen and (min-width: $screen-sm){
        margin: 0 auto;
        padding: 0 3rem;
        width: 100%;
    }
    &--postpreview{
        @extend .wrap;
        min-height: 10vh;
    }
}
