.footer{
    border-top: 1px solid white;
    max-width: 100%;
    text-align: center;
    padding: 1em 0;
    // background: $black;
    p, a{
        color: white;
    }
    a{
        text-decoration: underline;
    }
    &--small{
        @extend .footer;
        background: white;
        color: $black;
        p, a{
            color: black;
        }
        a{
            text-decoration: underline;
        }
    }
}
