.slick-list {
}

.gallery{
    &--slick {
        .slick-list {
            overflow: visible;
        }
        .slick-slide {
            margin: 0 1rem;
            opacity: .5;
            outline: 0;
            transition: opacity .25s ease;
        }
        .slick-current {
            opacity: 1;
        }
    }
}
