.head {
    position: relative;
    margin: 1.5rem auto 3rem;
    @media screen and (min-width: $screen-sm ) {
        margin: 8rem auto 3rem;
    }

    &--blog {
        padding: 0 1rem;
    }

    &__title {
        margin: 0;
        > a {
            display: block;
        }
        @media screen and (min-width: $screen-sm ) {
            line-height: 0;
        }
    }

    &__logo {
        display: inline-block;
        width: 50px;
        line-height: 0;

        img {
            width: 100%;
        }

    }

    &__directory {
        @include nav-text;
        position: absolute;
        color: $darkgrey;
        top: 4rem;
        left: 6rem;
        // display: block;
        @media screen and (min-width: $screen-sm ) {
            top: 2.5rem;
        }
    }

    &__title {
        position: relative;
    }
    &__icons {
    }
}


.headroom {
    position: fixed;
    z-index: 10;
    transition: all 200ms linear;
    h1{
        transition: transform 200ms linear;
    }
}
.headroom--pinned {
    transform: translateY(0%);
    border-bottom: 0px solid $prim1;
    h1{
        transform: translateY(-100px);
    }
}
.headroom--unpinned {
    transform: translateY(-100%);
    border-bottom: 0px solid $prim1;
    h1{
        transform: translateY(-100px);
    }
}
.headroom--top{
    border-bottom: 1px solid $prim1;
    h1{
        transform: translateY(0);
    }
}
