.intro {
    position: relative;

    &__image {
        max-height: 90vh;
        text-align: right;

        img {
            max-width: 100%;
        }
    }

    &__title {
        @include font-size(6);

        @media screen and (min-width: $screen-sm-min){
            @include font-size($font-size-h1);
        }

    }
}
