.iconlist{
    overflow: hidden;
    list-style-type: none;
    padding: 1rem 1rem 3rem;
    margin: 0;
    >li {
        display: inline-block;
        margin-right: 1rem;
    }
    svg{
        fill: white;
    }
}

.contact {
    &__item {
        margin: 1rem 0;
    }
}

.quickcontact {
    list-style-type: none;
    padding: 0;
    margin: 0;
    > li {
        display: block;
        margin-right: 2rem;
        vertical-align: middle;
        a {
            border-radius: 2rem;
            display: inline-block;
            padding: 0;
            transition: background 0.25s ease;
            &:hover {
                text-decoration: underline;
            }
        }

        @media screen and (min-width: $screen-sm){
            display: inline-block;
        }
    }

    svg { 
        vertical-align: middle;
    }

    p {
        display: inline-block;
        color: $white;
        font-size: 2rem;
        margin: 0;
    }

    &--text {
        @extend .quickcontact;
    }
}

.toolset__icons,
.brand__icons {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;

    > li{
        flex: 0 0 auto;
        padding-right: 1rem;

        &[data-skill="2"] {
            opacity: .7;
        }
        &[data-skill="1"] {
            opacity: .2;
        }
    }
}

.toolset__icons {
    > li {
        img{
            width: 10vw;
            @media screen and (min-width: $screen-sm){
                width: 7vw;
            }
        }
    }
}

.brand__icons {
    > li {
        padding: 2rem 1rem;
        img{
            width: 25vw;
            @media screen and (min-width: $screen-sm){
                width: auto;
                height: auto;
                max-width: 16rem;
                max-height: 7rem;
            }
        }
    }
    @media screen and (min-width: $screen-sm){
        > li {
            padding: 0 2rem;
        }
    }
}

.tags{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
        display: inline-block;
        // background: $prim4;
        list-style-type: none;
        // color: $prim0;
        // font-size: 1.4rem;
        // padding: 0 1rem;
        // margin: .2rem 0;

        &::before {
            content: '' !important;
            padding: 0;
        }

        a {
            @extend .btn;
        }
    }
}

