.modal {
    position: fixed;
    z-index:999;
    background: white;
    border: 10px solid yellow;

    padding: 20px 40px;

    a {
        box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 $prim4;
        @extend .is-underlined;
    }

    &--top {
        top: 0;
    }

    &--wide {
        width: 100%;
    }
    &--update {
        display: none;
        .ie & {
            display: block;
        }
    }
}
