// Burger Button Settings
$button-width: 4rem;                    // The width of the button area
$button-height: 4rem;                   // The height of the button area
$bar-thickness: .2rem;                    // The thickness of the button bars
$button-pad: .2rem;                      // The left/right padding between button area and bars.
$button-bar-space: .5rem;                // The spacing between button bars
$button-color: $prim1;
$button-color-hover: $prim0;
$button-between: 1rem;
$button-transistion-duration: 0.3s;     // The transition duration

// THE NAV// {{{
.navigation {
    $navColor: #f1f1f1;

    position: absolute;
    top: -17rem;

    @extend .hide-small;

    // Base Styling
    ul {
        position: relative;
        list-style: none;
        margin: 0 0 30px;
        padding: 8px 0;
        border-bottom: 1px solid $navColor;
        width: 640px;

        > li {
            display: inline-block;
            margin-right: 29px;

            &:last-child {
                margin-right: 0;
            }

            > a {
                @include nav-text;
                text-decoration: none;
                color: $navColor;
                font-weight: 400;
                letter-spacing: .8px;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    // Animation
    ul.var3 {
        > li {
            > a {
                position: relative;
                transition: all .25s ease;
                display:  block;

                &:after {
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 0;
                    background: $navColor;
                    left: 50%;
                    bottom: -8px;
                    transition: all .25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }

                &:hover {
                    &:after {
                        left: 0;
                        width: 100%;
                        height: 3px;
                    }
                }
            }
        }
    }

    &--icons {
        position: relative;
        top: auto;
        right: auto;

        ul {
            width: auto;
            list-style: none;
            margin: 4rem 0 0;
            padding: 0;
            text-align: right;
            border-bottom: 0;

            > li {
                display: inline-block;
                > a {
                    color: $black;
                }
            }
        }
        @media screen and (min-width: $screen-sm) {
            ul {
                margin: 15px 0 0;
            }
        }
    }
}
// }}}
// THE BUTTON// {{{
// .nav-toggle {
//     // reset button defaults
//     box-shadow: none;
//     border-radius: none;
//     border: none;
//     display: block;
//     z-index: 101;
//     position: relative;
//     appearance: none;
//     cursor: pointer;
//     z-index: 100;
//     transition: background 0.3s;
//     overflow: hidden;
//     margin: 0;
//     padding: 0;
//     width: $button-width;
//     height: $button-height;
//     font-size: 0;
//     text-indent: -9999px;
//     @media screen and (min-width: $screen-sm){
//         float: right;
//     }
//     // inner span
//     span {
//         display: block;
//         position: absolute;
//         top: 2.3rem;
//         left: $button-pad;
//         right: $button-pad;
//         height: $bar-thickness;
//         background: $button-color;
//         &:before,
//         &:after{
//             position: absolute;
//             display: block;
//             left: 0;
//             width: 100%;
//             height: $bar-thickness;
//             background-color: $button-color;
//             content: "";
//         }
//         &:before{
//             top: $button-between;
//         }
//         &:after{
//             bottom: $button-between;
//         }
//     }
//     &:hover{
//         span{
//             transform: scale(1.1);
//             &:before{
//                 top: $button-between*1.2;
//             }
//             &:after{
//                 bottom: $button-between*1.2;
//             }
//         }
//     }
// }
// }}}
// THE BUTTON ANIMATION// {{{
// .nav-toggle--to-x {
//     background-color: transparent;
//     span {
//         transition: background 0s 0.3s;
//         &::before, &::after {
//             transition-duration: 0.3s, 0.3s;
//             transition-delay: 0.2s, 0s;
//         }
//         &::before {
//             transition-property: top, transform;
//         }
//         &::after {
//             transition-property: bottom, transform;
//         }
//     }
//     &.is-active {
//         // background-color: #cb0032;
//         span {
//             background: none;
//             &::before {
//                 top: 0;
//                 transform: rotate(45deg);
//             }
//             &::after {
//                 bottom: 0;
//                 transform: rotate(-45deg);
//             }
//             &::before, &::after {
//                 background: $button-color-hover;
//                 transition-delay: 0s, 0.2s;
//             }
//         }
//     }
// }
// .nav-toggle:focus {
//     outline: none;
// }
// }}}
