
// Sizes
$device-sm: $screen-sm;
$device-md: $screen-md;
$device-lg: $screen-lg;
$column-gutter: 0;


*, *:after, *:before {
  box-sizing: border-box;
}


.container {
  margin: 0 auto;
  padding: 0 $column-gutter;
  max-width: $device-lg;

  @media (max-width: 768px) {
      padding: 0 3rem;
  }
}

.container--full {
    margin: 0 auto;
    padding: 0 $column-gutter;
    max-width: 100%;
}


.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-right: -($column-gutter / 2);
  margin-left: -($column-gutter / 2);
  &.align-top {
      align-items: flex-start;
  }
  &.align-bottom {
      align-items: flex-end;
  }
  &.align-middle {
    align-items: center;
  }
  &.align-bottom {
    align-items: flex-end;
  }
  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-right {
    justify-content: flex-end;
  }
}

.row--collapsed {
    [class*="col"] {
        padding: 0;
    }
}

[class*="col"] {
  width: 100%;
  padding: 0 $column-gutter / 2;
}

@mixin col-size($col) {
  flex-basis: 100% * $col / 12;
  max-width: 100% * $col / 12;
}

@mixin col-order($col) {
    order: $col;
}

@each $col in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
  .col-xs-#{$col} {
    @include col-size($col);
  }
  .col-order-xs-#{$col} {
      @include col-order($col);
  }
}

@media (min-width: #{$device-sm}) {
  @each $col in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
    .col-sm-#{$col} {
      @include col-size($col);
    }
    .col-order-sm-#{$col} {
        @include col-order($col);
    }
  }
}

@media (min-width: #{$device-md}) {
  @each $col in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
    .col-md-#{$col} {
      @include col-size($col);
    }
    .col-order-md-#{$col} {
        @include col-order($col);
    }
  }
}

@media (min-width: #{$device-lg}) {
  @each $col in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
    .col-lg-#{$col} {
      @include col-size($col);
    }
    .col-order-lg-#{$col} {
        @include col-order($col);
    }
  }
}
