.pane{
    margin: 0;
    position: relative;
    border-bottom: 1px solid $prim1;
    padding: 5rem 0;

    // background colors
    &--prim0 {
        // background-color: $prim0; 
        background-color: #f1f1f1; 
        // background-size: cover;
        // background: url('../../assets/img/background-lines.svg') top no-repeat;
    }
    &--prim1 {   background-color: $prim1; }
    &--prim1d {  background-color: $prim1d; }
    &--prim2 {   background-color: $prim2; }
    &--prim2d {  background-color: $prim2d; }
    &--prim3 {   background-color: $prim3; }
    &--prim4 {   background-color: $prim4; }

    // sizes
    &--full {   min-height: auto; }
    &--half {   min-height: auto; }
    &--third {   min-height: auto; }
    &--auto {    min-height: 100vh; padding: 3rem 0; }

    // extra padding
    &--padding { padding: 3rem 0; }

    @media screen and (min-width: $screen-sm){
        &--auto {   min-height: 0; }
        &--full {   min-height: 90vh; padding: 3rem 3rem; }
        &--half {   min-height:  50vh; }
        &--third {  min-height: 33vh; }
    }

    h1, h2 {
        margin: 0;
    }

    &__text{

        h1, h2, h3, p{
            .pane--prim4 & { color: $prim4d; }
            .pane--prim0 & { color: $prim4d; }
            .pane--prim0 & { color: $prim4d;  }
            .pane--prim1 & { color: white;  }
            .pane--prim2 & { color: white;  }
            .pane--prim3 & { color: white;  }
            .pane--prim4 & { color: $prim0;  }
        }
    }

    &__headline {
        h1, h2, h3{
            .pane--prim0 &{ color: $prim4d;  }
            .pane--prim1 &{ color: white;  }
            .pane--prim2 &{ color: white;  }
            .pane--prim3 &{ color: white;  }
            .pane--prim4 &{ color: $prim4d;  }
        }
    }

    &__avatar{
        object{
            width: 40rem;
        }
    }
}



// addressblock
.contact {
    color: white;
    text-align: center;

    hr{
        margin-bottom:0;
    }
}
