.ie {
    #meflrnz,
    #display {
        height: 500px;
    }
} 
#mehead {
    @media screen and (min-width: $screen-sm) {
        max-height: 300px;
    }
}
#mockup {
    padding: 0 2rem;
    width: 100%;
}

.pane__svg,
.perspective {
    > svg {
        width: 100%;
        display: none;
        @media screen and (min-width: $screen-sm) {
            display: block;
            max-width: 40rem;
            margin: 0 0 0 auto;
        }
    }

    > #CIRCLE_FLRNZ {
        display: block;
        margin: 0 auto;
        max-width: 30rem;
    }
}

.svg {
    &--full-centered {
        width: 400px;
    }
}
